
* {
    margin: 0;
    padding: 0;
  }

  .background-image {
    background-image: url('../image/contactus.png');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white; 
  }
  

  .contact-form-container {
    max-width: 500px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 2.9rem;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="submit"] {
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  
  @media (max-width: 576px) {
    .contact-form-container {
      margin-left: 0;
      margin-right: 0;
    }
  }
  